<footer class="site-footer">
  <div class="site-footer__wrapper">
    <nav class="site-footer__nav">
      <a class="page-link" href="{{ site.baseurl }}/">Página inicial</a>

      {%- assign site_pages = site.pages | sort: 'position' -%}
      <ul class="seamless">
        {%- for p in site_pages %} {% if p.menu-title -%}
        <li>
          <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">
            {{ p.menu-title }}
          </a>
        </li>
        {%- endif %} {% endfor -%}
        <li>
          <a href="mailto:{{site.email}}" class="page-link">Fale conosco</a>
        </li>
      </ul>
    </nav>

    <div>
      <a
        href="/docs/EVK-do-Brasil-ISO-9001-2015-val-23-03-2026-portugues-851550797036j913f5c.pdf"
        target="_blank"
      >
        <img src="/img/sgs-iso-9001-980.png" alt="ISO 9001:2015" width="100" />
      </a>

      <a href="/docs/EVK-do-Brasil-Politica-da-Qualidade.pdf" target="_blank">
        <img
          src="/img/selo-politica-da-qualidade.png"
          alt="Política da Qualidade"
          width="100"
        />
      </a>
    </div>

    <div class="site-footer__logo">
      {%- include svg/evk-logo.svg -%}

      <img
        src="{{ site.baseurl }}/img/investidor-social/horizontal.png"
        alt="Investidor Social Instituição Amélia Rodrigues"
      />
    </div>
  </div>
</footer>
