<footer class="site-footer">
  <div class="site-footer__wrapper">
    <p>
      <img class="site-footer__logo" src="{{site.baseurl}}/img/evk-logo.png" alt="{{site.title}}" width="80">
    </p>

    <nav class="site-footer__nav">
      <a class="page-link" href="{{ site.baseurl }}/">Página inicial</a>

      {%- assign site_pages = site.pages | sort: 'position' -%}
      {%- for p in site_pages %}{% if p.menu-title -%}
      <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.menu-title }}</a>
      {%- endif %}{% endfor -%}
    </nav>
  </div>
</footer>