<header class="site-header">
  <div class="site-header__wrapper">

    <a href="{{ site.baseurl }}/" class="site-title">
      <img src="{{ site.baseurl }}/img/evk-logo.png" alt="{{ site.title }}" height="60">
    </a>

    <button class="site-nav__button">
      <div></div>
      <div></div>
      <div></div>
    </button>

    {% assign site_pages = site.pages | sort: 'position' %}

    <nav class="site-nav" id="site-nav">
      {%- for p in site_pages -%}
        {%- if p.menu-title -%}
          <a href="{{ p.url | prepend: site.baseurl }}" class="page-link">
            {{ p.menu-title }}
          </a>
        {%- endif -%}
      {%- endfor -%}
    </nav>

  </div>
</header>