<header class="site-header">
  <div class="site-header__wrapper">
    <a href="{{ site.baseurl }}/" class="site-title">
      {%- include svg/evk-logo.svg -%}
    </a>

    <div class="site-nav__container">
      <button class="site-nav__button">
        <div></div>
        <div></div>
        <div></div>
      </button>
      {% assign site_pages = site.pages | sort: 'position' %}
      <nav class="site-nav" id="site-nav">
        <a href="{{ site.baseurl }}/" class="page-link">Página inicial</a>
        {%- for p in site_pages -%} {%- if p.menu-title -%}
        <a href="{{ p.url | prepend: site.baseurl }}" class="page-link">
          {{ p.menu-title }}
        </a>
        {%- endif -%} {%- endfor -%}
        <a href="mailto:comercial@evkdobrasil.com.br" class="page-link">
          Fale conosco
        </a>
      </nav>
    </div>
  </div>
</header>
