.home {
  &-products {
    @extend .page-content, .wrapper, .horizontal;

    > * + * {
      margin-left: var(--spacing-xs);
    }

    &__item {
      @extend .img-wrapper;
    }
  }

  &-slide {
    @include media-greater($on-palm) {
      background-image: var(--img);
      background-position: center;
      background-size: cover;
    }

    &__wrapper {
      @extend .wrapper;
    }

    &__info {
      max-width: 500px;
      padding: var(--spacing-smart);
      color: #fff;
      background-color: $black;

      @include media-greater($on-palm) {
        font-size: 1.4rem;
        background-color: rgba($black, 0.7);
      }
    }

    &__title {
      font-size: clamp(2rem, 5vw, 4rem);
      text-transform: uppercase;
      color: $yellow;
    }
  }

  &-intro {
    @extend .page-content;

    &__wrapper {
      @extend .wrapper, .horizontal--smart, .center;
    }

    &__gallery {
      display: grid;
      grid-gap: var(--spacing-xs);
      grid-template-columns: repeat(2, 1fr);

      @include media-greater($on-laptop) {
        grid-template-columns: repeat(4, 1fr);
      }

      &-img {
        @extend .img-wrapper;
      }

      &-container {
        p {
          letter-spacing: 0.1em;
          margin-bottom: 0;
        }
      }
    }
  }

  &-features {
    @extend .wrapper, .horizontal--smart;
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);

    p {
      @include media-greater($on-palm) {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__item {
      @extend .flex;
    }

    &__image {
      @extend .img-wrapper;
    }

    &__heading {
      &::before {
        content: '';
        display: inline-block;
        vertical-align: baseline;
        margin-right: 0.25em;
        width: 0.25em;
        height: 0.85em;
        background-color: $beige;
        background-image: linear-gradient(
          $orange 33%,
          $beige 33%,
          $beige 66%,
          $yellow 66%
        );
        box-shadow: 0 3px 6px rgba(black, 0.1);
      }

      a {
        color: inherit;
      }
    }
  }

  &-about {
    @extend .hero;
    text-align: center;

    &__keywords {
      display: flex;
      justify-content: center;
      font-size: clamp(1.2em, 2vw, 1.6em);
      letter-spacing: 0.4em;
      text-transform: uppercase;

      > * {
        margin: 0 var(--spacing-smart);
      }

      @include media-query($on-laptop) {
        flex-direction: column;
      }
    }

    &__excerpt {
      @extend .wrapper;
      width: 48em;
      letter-spacing: 0.2em;

      @include media-greater($on-laptop) {
        font-size: 1.2em;
      }
    }
  }

  &-strip {
    padding-left: var(--spacing-smart);
    padding-right: var(--spacing-smart);

    &__grid {
      @extend .horizontal;
    }

    &__item {
      @extend .flex;
      margin: 1px;

      img {
        display: block;
      }
    }
  }
}
