.home {
  &-products {
    @extend .page-content, .wrapper, .horizontal;

    > * + * {
      margin-left: var(--spacing-xs);
    }

    &__item {
      @extend .img-wrapper;
    }
  }

  &-slide {
    background-image: var(--img);
    background-position: center;
    background-size: cover;
    text-shadow: -2px 2px 5px #000;

    &__info {
      padding: 30% 0 50px;
      font-size: 1.4rem;
      color: #fff;

      background-image: linear-gradient(
        rgba($green, 0.3),
        rgba(darken($green, 40%), 0.85)
      );

      &-inner {
        > * {
          margin: 0;
        }
      }
    }

    &__title {
      font-size: clamp(2rem, 5vw, 4rem);
      text-transform: uppercase;
      color: $yellow;
    }
  }

  &-intro {
    @extend .page-content;

    &__wrapper {
      @extend .wrapper, .horizontal--smart, .center;
    }

    &__gallery {
      @extend .horizontal;

      > * + * {
        margin-left: var(--spacing-xs);
      }

      &-img {
        @extend .img-wrapper;
      }

      &-container {
        p {
          letter-spacing: 0.1em;
          margin-bottom: 0;
        }
      }
    }
  }

  &-about {
    @extend .hero;
    text-align: center;

    &__keywords {
      display: flex;
      justify-content: center;
      font-size: clamp(1.2em, 2vw, 1.6em);
      letter-spacing: 0.4em;
      text-transform: uppercase;

      > * {
        margin: 0 var(--spacing-smart);
      }

      @include media-query($on-laptop) {
        flex-direction: column;
      }
    }

    &__excerpt {
      @extend .wrapper;
      width: 48em;
      letter-spacing: 0.2em;

      @include media-greater($on-laptop) {
        font-size: 1.2em;
      }
    }
  }

  &-strip {
    padding-left: var(--spacing-smart);
    padding-right: var(--spacing-smart);

    &__grid {
      @extend .horizontal;
    }

    &__item {
      @extend .flex;
      margin: 1px;

      img {
        display: block;
      }
    }
  }

  &-features {
    @extend .wrapper, .page-content, .horizontal--smart;

    p {
      @include media-greater($on-palm) {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__item {
      @extend .flex;
    }

    &__image {
      @extend .img-wrapper;
    }

    &__heading {
      &::before {
        content: '';
        display: inline-block;
        vertical-align: baseline;
        margin-right: 0.25em;
        width: 0.25em;
        height: 0.85em;
        background-color: $beige;
        background-image: linear-gradient(
          $orange 33%,
          $beige 33%,
          $beige 66%,
          $yellow 66%
        );
        box-shadow: 0 3px 6px rgba(black, 0.1);
      }

      a {
        color: inherit;
      }
    }
  }
}
