.home {
  &-banner {
    background: url("#{$baseurl}/img/home/top-cover.jpg") center / cover;
    text-shadow: -2px 2px 5px #000;

    &__info {
      padding: 30% 50px 50px;
      font-size: 1.4rem;
      color: #fff;

      background-image: radial-gradient(
        rgba($green, 0.3),
        rgba(darken($green, 40%), 0.85)
      );
    }

    * {
      margin: 0;
    }

    &__title {
      font-size: clamp(2rem, 5vw, 4rem);
      text-transform: uppercase;
      color: $yellow;
    }
  }

  &-slides {
    @extend .page-content, .wrapper, .hide-scrollbar;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    &__item {
      @extend .img-wrapper;
      display: inline-block;
      margin-right: var(--spacing-xs);
    }
  }

  &-intro {
    @extend .wrapper, .hero, .horizontal--smart;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      @extend .flex;
    }

    &__image {
      @extend .img-wrapper;
    }

    &__heading {
      &::before {
        content: "";
        display: inline-block;
        vertical-align: baseline;
        margin-right: 0.25em;
        width: 0.25em;
        height: 0.85em;
        background-color: $beige;
        background-image: linear-gradient(
          $orange 33%,
          $beige 33%,
          $beige 66%,
          $yellow 66%
        );
        box-shadow: 0 3px 6px rgba(black, 0.1);
      }
    }
  }
}
