$header-height: 60px;

.site-header {
  height: $header-height;
  line-height: $header-height;
  color: #fff;
  background-color: $black;
  box-shadow: 0 3px 0 $orange, 0 6px 0 $beige, 0 9px 0 $yellow;
  margin-bottom: 9px;
  --link: #{$orange};
  --link-active: #{$yellow};
  --link-active-decoration: none;

  &__wrapper {
    @extend .wrapper, .horizontal;
  }
}

.site-title {
  float: left;
  max-width: 50%;

  svg {
    margin-top: 10px;
    width: 180px;
  }
}

.site-nav {
  @extend .horizontal;

  &__container {
    position: relative;
    align-self: flex-start; // avoid pushing menu down
  }

  &__button {
    @extend .vertical;

    @include media-greater($on-laptop) {
      display: none;
    }
  }

  @include media-query($on-laptop) {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 9px;
    min-width: 12em;

    &.off {
      display: none;
    }

    &__button {
      padding: 10px;
      margin-top: 7px;
      background-color: transparent;

      &[aria-expanded='true'],
      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: transparent;
        box-shadow: none;
      }

      >* {
        display: block;
        width: 30px;
        height: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: currentColor;
      }
    }

    .page-link {
      padding-left: 2em;
      padding-right: 2em;
      border-top: 1px solid $grey-color;
      background-color: rgba($black, 0.95);

      &:hover,
      &:focus,
      &:active {
        background-color: $black;
      }
    }
  }
}

.page-link {
  display: inline-block;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.9em;
  font-weight: bold;
}

.site-footer {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  background-color: $grey-color-light;
  border-top: 3px solid $orange;
  --link: #{$grey-color};
  --link-active-decoration: none;

  &__wrapper {
    @extend .wrapper, .horizontal--smart, .center;
  }

  &__logo {
    @extend .horizontal, .center;

    >* {
      margin: var(--spacing-s);
    }
  }
}