$header-height: 60px;

.site-header {
  height: $header-height;
  line-height: $header-height;
  background-color: #000;
  box-shadow: 0 3px 0 $brand-color-3, 0 6px 0 $brand-color-2,
    0 9px 0 $brand-color-1;
  margin-bottom: 9px;

  .page-link {
    color: $brand-color-3;

    &:hover,
    &:focus,
    &:active {
      color: $brand-color-1;
      text-decoration: none;
    }
  }

  &__wrapper {
    @extend .wrapper, .horizontal;
  }
}

.site-title {
  float: left;
  max-width: 50%;

  svg {
    margin-top: 10px;
    width: 180px;
  }
}

.site-nav {
  @extend .horizontal;

  &__container {
    position: relative;
  }

  &__button {
    @extend .vertical;
    background-color: transparent;
    color: currentColor;
    padding: 10px;

    &[aria-expanded="true"],
    &:hover,
    &:focus,
    &:active {
      color: currentColor;
      box-shadow: 0 0 0 1px currentColor;
    }

    &:hover,
    &:focus,
    &:active {
      color: #000;
    }

    > * {
      display: block;
      width: 30px;
      height: 4px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: currentColor;
    }

    @include media-greater($on-laptop) {
      display: none;
    }
  }

  @include media-query($on-laptop) {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    padding: var(--spacing-s);
    background-color: $background-color;
    box-shadow: 0 0 0 1px currentColor;

    &.off {
      display: none;
    }
  }
}

.page-link {
  display: inline-block;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.9em;
  font-weight: bold;
  color: $grey-color;

  @include media-query($on-laptop) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.site-footer {
  margin-top: auto;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);

  &__wrapper {
    @extend .wrapper, .vertical, .center;
    text-align: center;
  }

  &__logo {
    margin-bottom: var(--spacing-s);
  }
}
