* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--smart {
    @extend .horizontal;

    @include media-query($on-palm) {
      flex-direction: column;

      > * + * {
        margin-top: var(--spacing-smart);
      }

      .order-1 {
        margin-bottom: var(--spacing-s);
      }
    }

    @include media-greater($on-palm) {
      > * + * {
        margin-left: var(--spacing-smart);
      }

      .order-1 {
        order: 1;
        margin-left: var(--spacing-smart);

        + * {
          margin-left: 0;
        }
      }
    }
  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}

html {
  --spacing-l: 128px;
  --spacing-m: 64px;
  --spacing: 32px;
  --spacing-s: 16px;
  --spacing-xs: 8px;

  --spacing-smart: var(--spacing);

  --border-radius: 16px;

  @media (max-width: $on-laptop) {
    --spacing-smart: var(--spacing-s);
    --border-radius: 8px;
  }
}
