$base-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;
$title-font-family: "Fjalla One", sans-serif;
$base-font-size: 1em;
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$yellow: #ffdd00;
$beige: #deb054;
$orange: #d78328;
$green: #36aa50;
$blue: #0058ff;
$black: #1b1918;

$grey-color-light: #f6f6f6;
$grey-color: #828282;
$grey-color-dark: #424242;

$text-color: $black;
$background-color: #fff;
$brand-color: $orange;

$on-palm: 600px;
$on-laptop: 900px;
$content-width: 1366px;
